{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" /><title>Home - Brand</title><link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <style>
      .parallax {
        background-image: url("{% static 'img/pexels-bruno-ticianelli-210264-1042428.jpg' %}");
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        z-index: 1;
      }
    </style>
  </head>
  <body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="57">
    <!-- Start: Navbar Right Links -->
    <nav class="navbar navbar-expand-lg fixed-top bg-light shadow py-3">
      <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
          <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bezier">
              <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"></path>
              <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
            </svg>
          </span>
          <span class="fw-bolder" style="color: #9c405c;">KKMT</span>
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><div class="collapse navbar-collapse" id="navcol-2">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'aboutUs' %}">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sermons' %}">Sermons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'events' %}">Events</a>
            </li>
            <li class="nav-item dropdown">
              <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">More pages</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'blog' %}">Blog/Devotions</a><a class="dropdown-item" href="{% url 'testimony' %}">Testimonies</a><a class="dropdown-item" href="{% url 'prayer_list' %}">Prayer Request&nbsp;</a><a class="dropdown-item" href="{% url 'ministries' %}">Ministries &amp; Projects&nbsp;</a><a class="dropdown-item" href="{% url 'live-stream' %}">Live-Stream</a><a class="dropdown-item" href="{% url 'gallery' %}">Gallery</a><a class="dropdown-item" href="{% url 'join' %}">Join/Membership</a><a class="dropdown-item" href="{% url 'visit' %}">Visit Us</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
          </ul><a class="btn btn-primary ms-md-2" role="button" data-bss-hover-animate="pulse" href="{% url 'donate' %}" style="background: linear-gradient(white, #9c405c 0%), #9c405c;border-radius: 0px;">DONATE</a>
        </div>
      </div>
    </nav>
    <!-- End: Navbar Right Links -->

    <!-- Start: Articles Cards -->
    <div class="container py-4 py-xl-5 mt-5 pt-5">
      <div class="row text-bg-light mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
          <h1>Welcome to Our Church</h1><p class="w-lg-50">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
        </div>
      </div>
      <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div class="col">
          <div class="card">
            <img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="{% static 'img/pexels-bounthan-lee-3354545-5243956.jpg' %}" /><div class="card-body p-4">
              <h2 class="card-title">Our Sermons</h2><p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
              <div class="d-flex">
                <a href="{% url 'sermons' %}">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="{% static 'img/pexels-nathy-1398059.jpg' %}" /><div class="card-body p-4">
              <h2 class="card-title">Our History</h2><p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
              <div class="d-flex">
                <a href="{% url 'aboutUs' %}">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="{% static 'img/1f444494-da61-4a32-8c43-6e0364bb5dbf.jpg' %}" /><div class="card-body p-4">
              <h2 class="card-title">Our Mission</h2><p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
              <div class="d-flex">
                <a href="{% url 'aboutUs' %}">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End: Articles Cards -->

    <!-- Start: Hero Travel -->
    <div class="jumbotron position-relative border rounded hero-travel py-5 px-4 mb-1 text-center">
      <!-- Background image -->
      <img src="{% static 'img/pexels-robert-stokoe-105922-1173794.jpg' %}" alt="Background" class="img-fluid w-100 h-100 rounded" style="object-fit: cover; position: absolute; top: 0; left: 0; z-index: 1;" />

      <!-- Text content -->
      <div class="position-relative" style="z-index: 1;">
        <h1 class="hero-title" style="color: #ffffff;">Get Connected</h1>
        <p class="fs-2 hero-subtitle mb-5" style="color: #ffffff;">Find a place to connect and grow spiritually</p>
        <a class="btn btn-primary btn-lg active hero-button me-0" role="button" data-bss-hover-animate="pulse" href="{% url 'join' %}" style="border-radius: 0px;background: linear-gradient(white, #9c405c 0%);">Become a membe</a>
      </div>
    </div>
    <!-- End: Hero Travel -->

    <!-- Start: Parallax Background -->
    <div class="parallax"></div>
    <!-- End: Parallax Background -->

    <!-- Start: Hero Clean Reverse -->
    <div class="container py-4 py-xl-5 mb-0" style="position: relative; z-index: 1;">
      <div class="row gy-4 gy-md-0">
        <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
          <div style="max-width: 350px;">
            <h2 class="text-uppercase fw-bold">OUR VISION</h2><p class="my-3">Tincidunt laoreet leo, adipiscing taciti tempor. Primis senectus sapien, risus donec ad fusce augue interdum.</p><a class="btn btn-primary me-2" role="button" data-bss-hover-animate="pulse" href="{% url 'aboutUs' %}" style="border-radius: 0px;background: linear-gradient(white, #9c405c 0%);">LEARN MORE</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="p-xl-5 m-xl-5">
            <img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" />
          </div>
        </div>
      </div>
    </div>
    <!-- End: Hero Clean Reverse -->

    <!-- Start: Banner Color -->
    <section class="text-bg-light py-4 py-xl-5 mb-0" style="background: linear-gradient(#9c405c 98%, white);">
      <div class="container">
        <div class="bg-primary border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5 mb-0" style="background: linear-gradient(#f2efef 98%, white);color: #9c405c;">
          <div class="pb-2 pb-lg-1" style="color: #000000;">
            <h2 class="fw-bold mb-2">UPCOMING EVENTS&nbsp;</h2><p class="mb-0" style="color: #ef2222;">Visit our Events page to get more information.</p>
          </div>
          <div class="my-2"></div>
        </div>
      </div>
    </section>
    <!-- End: Banner Color -->

    <!-- Start: Stats -->
    <div class="container py-4 py-xl-5">
      <div class="row gy-4 row-cols-2 row-cols-md-4">
        <div class="col">
          <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
            <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bell">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6"></path>
              </svg>
            </div>
            <div class="px-3">
              <h2 class="fw-bold mb-0">123+</h2><p class="mb-0" data-bss-hover-animate="pulse">Erat netus</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
            <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bezier">
                <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"></path>
                <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
              </svg>
            </div>
            <div class="px-3">
              <h2 class="fw-bold mb-0">45+</h2><p class="mb-0">Erat netus</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
            <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-cup">
                <path fill-rule="evenodd" d="M.11 3.187A.5.5 0 0 1 .5 3h13a.5.5 0 0 1 .488.608l-.22.991a3.001 3.001 0 0 1-1.3 5.854l-.132.59A2.5 2.5 0 0 1 9.896 13H4.104a2.5 2.5 0 0 1-2.44-1.958L.012 3.608a.5.5 0 0 1 .098-.42Zm12.574 6.288a2 2 0 0 0 .866-3.899l-.866 3.9ZM1.124 4l1.516 6.825A1.5 1.5 0 0 0 4.104 12h5.792a1.5 1.5 0 0 0 1.464-1.175L12.877 4H1.123Z"></path>
              </svg>
            </div>
            <div class="px-3">
              <h2 class="fw-bold mb-0">67+</h2><p class="mb-0">Erat netus</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
            <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-cart2">
                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"></path>
              </svg>
            </div>
            <div class="px-3">
              <h2 class="fw-bold mb-0">89+</h2><p class="mb-0">Erat netus</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End: Stats -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'css/script.min.js' %}"></script>

    {% include 'partials/footer.html' %}
    
  </body>
</html>
